
/* Fuentes */
@font-face {
    font-family: "fonarto";
    src: url(fonts/Fonarto-Regular.ttf);
}

@font-face {
    font-family: "fonarto-light";
    src: url(fonts/Fonarto-Light.ttf);
}

@font-face {
    font-family: "fonarto-bold";
    src: url(fonts/Fonarto-Bold.ttf);
}


/* Estructura externa */
body {
    font-family: "fonarto";
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: red;
}

#cont-ext {
    margin: 0;
    padding: 0;
}


/* Nav */
#nave {
    background-color: black;
    padding: 0.5rem;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid red;
}

.itemNav{
    margin-top: 2em;
}

/* Panel Image */
#panelImg {
    background-image: url(/Img/backImg.jpg);
    background-size: cover;
    height: 60vh;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-fluid{
    margin: 0;
}

.quoteImg{
    margin-top: 10em;
}


/* Main Content  */

#mainContent {
    display: flex;
    text-align: center;
    height: 30vh;
    justify-content: center;
    color: black;
    margin: 1em;
    margin-top: 2em;
}

.superiorContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferiorContent{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3em;
    margin-bottom: 3em;
}

.infoBlock{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    height: 7em;

    margin: 0.2em;
    padding: 0.5em;

    border: 0.2em solid black;
    
}

.infoBlockImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.imgBlockA{
    background-image: url(/Img/mad1.jpg);
   
}

.imgBlockB{
    background-image: url(/Img/val1.jpg);
    
}

.imgBlockC{
    background-image: url(/Img/bar1.jpg);
    
}

/* footer */

#infoFoot {
    background-color: black;
    padding: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
   
} 










